<z-loading *ngIf="isLoading"></z-loading>
<form novalidate [formGroup]="form" *ngIf="!isLoading">
  <z-form-errors [form]="form"></z-form-errors>

  <!-- Code -->
  <mat-form-field>
    <input matInput type="text" formControlName="code" placeholder="Code">
  </mat-form-field>

  <!-- Name -->
  <mat-form-field>
    <input matInput type="text" formControlName="name" placeholder="Name">
  </mat-form-field>

  <!-- Description -->
  <mat-form-field>
    <textarea matInput type="text" formControlName="description" placeholder="Description"></textarea>
  </mat-form-field>

  <!-- Priority -->
  <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priority">
      <mat-option *ngFor="let item of priorityList" [value]="item">{{ item | capitalize }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Status -->
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let item of statusList" [value]="item">{{ item | capitalize }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Start Date -->
  <mat-form-field>
    <input matInput [matDatepicker]="startDatePicker" placeholder="Start date" formControlName="start_date"
      [max]="form.controls['end_date'].value">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <!-- End Date -->
  <mat-form-field>
    <input matInput [matDatepicker]="endDatePicker" placeholder="End date" formControlName="end_date">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button class="pull-right" (click)="onSubmit()" *ngIf="form.dirty && form.valid">
    <i class="zmdi zmdi-check"></i> Submit
  </button>
</form>