@import "~app/variables";

@mixin full-height {
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

:host {
  @include full-height();
  .auth-page {
    background-image: url("~assets/img/bg-auth.webp");
    background-repeat: no-repeat;
    background-size: cover;
    @include full-height();
    .auth-overlay {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .table-struct {
      @include full-height();
    }
  }
}

::ng-deep .auth-page .mat-checkbox-frame {
  border-color: white;
}
