<form novalidate [formGroup]="form">
  <!-- First Name -->
  <mat-form-field>
    <input matInput type="text" formControlName="suffix" placeholder="Suffix">
  </mat-form-field>

  <!-- First Name -->
  <mat-form-field>
    <input matInput type="text" formControlName="first_name" placeholder="First Name">
  </mat-form-field>

  <!-- Last Name -->
  <mat-form-field>
    <input matInput type="text" formControlName="last_name" placeholder="Last Name">
  </mat-form-field>

  <!-- Email -->
  <mat-form-field>
    <input matInput type="email" formControlName="email" placeholder="Email">
  </mat-form-field>

  <!-- Gender -->
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option value="female">Female</mat-option>
      <mat-option value="male">Male</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Active -->
  <section class="mb-20">
    <mat-checkbox formControlName="active">Active</mat-checkbox>
  </section>

  <button mat-raised-button class="pull-right" (click)="onSubmit()" *ngIf="form.dirty">
    <i class="zmdi zmdi-check"></i> Submit
  </button>
</form>
