<h1 mat-dialog-title>{{ titleForm }}</h1>
<form novalidate [formGroup]="form">
  <div *ngFor="let field of data.fields">
    <div [ngSwitch]="field.type">
      <!-- Text fields -->
      <mat-form-field *ngSwitchCase="'text'">
        <input matInput type="text" [formControlName]="field.key" [placeholder]="field.label">
      </mat-form-field>

      <!-- Number fields -->
      <mat-form-field *ngSwitchCase="'number'">
        <input matInput type="number" [formControlName]="field.key" [placeholder]="field.label">
      </mat-form-field>

      <!-- Email fields -->
      <mat-form-field *ngSwitchCase="'email'">
        <input matInput type="email" [formControlName]="field.key" [placeholder]="field.label">
      </mat-form-field>

      <!-- Textarea fields -->
      <mat-form-field *ngSwitchCase="'textarea'">
        <textarea matInput type="text" [formControlName]="field.key" [placeholder]="field.label"></textarea>
      </mat-form-field>

      <!-- Select fields -->
      <mat-form-field *ngSwitchCase="'select'">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.key">
          <mat-option *ngFor="let item of field.options" [value]="item.key || item">
            {{ item.label || item }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Multiple fields -->
      <mat-form-field *ngSwitchCase="'multiple'">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.key" multiple>
          <mat-option *ngFor="let item of field.options" [value]="item.key || item">
            {{ item.label || item }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Date fields -->
      <mat-form-field *ngSwitchCase="'date'">
        <input matInput [matDatepicker]="datePickerField" [placeholder]="field.label" [formControlName]="field.key">
        <mat-datepicker-toggle matSuffix [for]="datePickerField"></mat-datepicker-toggle>
        <mat-datepicker #datePickerField></mat-datepicker>
      </mat-form-field>

      <!-- Toggle fields -->
      <section *ngSwitchCase="'toggle'" class="mb-20">
        <mat-slide-toggle [formControlName]="field.key">{{ field.label }}</mat-slide-toggle>
      </section>

      <!-- Boolean fields -->
      <section *ngSwitchCase="'boolean'" class="mb-20">
        <mat-checkbox [formControlName]="field.key">{{ field.label }}</mat-checkbox>
      </section>
    </div>

    <div id="error-messages"
      *ngIf="form.controls[field.key].invalid && (form.controls[field.key].dirty || form.controls[field.key].touched)">
      <mat-error *ngIf="form.controls[field.key].hasError('required')">{{ errorMessages.required }}</mat-error>
      <mat-error *ngIf="form.controls[field.key].hasError('email')">{{ errorMessages.email }}</mat-error>
      <mat-error *ngIf="form.controls[field.key].hasError('minlength')">{{ errorMessages.minlength }}</mat-error>
      <mat-error *ngIf="form.controls[field.key].hasError('maxlength')">{{ errorMessages.maxlength }}</mat-error>
    </div>

  </div>

  <button mat-raised-button class="pull-right" (click)="onSubmit()" *ngIf="form.dirty && form.valid">
    <i class="zmdi zmdi-check"></i> Submit
  </button>
</form>
