.mat-form-field {
  width: 100%;
}
#error-messages {
  margin-top: -15px;
  mat-error {
    font-size: 11px;
  }
}

button {
  .zmdi {
    display: block;
    font-size: 30px;
    margin-top: 10px;
  }
  bottom: 25px;
  position: absolute;
  right: 25px;
}
