<form novalidate [formGroup]="form">
  <!-- <z-form-errors [form]="form"></z-form-errors> -->

  <div *ngFor="let field of data.fields">
    <div [ngSwitch]="field.type">
      <!-- Text fields -->
      <mat-form-field *ngSwitchCase="'text'">
        <input matInput type="text" [formControlName]="field.key" [placeholder]="field.label" [required]="field.required">
      </mat-form-field>

      <!-- Email fields -->
      <mat-form-field *ngSwitchCase="'email'">
        <input matInput type="email" [formControlName]="field.key" [placeholder]="field.label"
          [required]="field.required">
      </mat-form-field>

      <!-- Textarea fields -->
      <mat-form-field *ngSwitchCase="'textarea'">
        <textarea matInput type="text" [formControlName]="field.key" [placeholder]="field.label"
          [required]="field.required"></textarea>
      </mat-form-field>

      <!-- Select fields -->
      <mat-form-field *ngSwitchCase="'select'">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.key" [required]="field.required">
          <mat-option *ngFor="let item of field.options" [value]="item.key || item">
            {{ item.label || item }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Multiple fields -->
      <mat-form-field *ngSwitchCase="'multiple'">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.key" [required]="field.required" multiple>
          <mat-option *ngFor="let item of field.options" [value]="item.key || item">
            {{ item.label || item }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Date fields -->
      <mat-form-field *ngSwitchCase="'date'">
        <input matInput [matDatepicker]="endDatePicker" [placeholder]="field.label" [formControlName]="field.key"
          [required]="field.required">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>

      <!-- Boolean fields -->
      <section *ngSwitchCase="'boolean'" class="mb-20">
        <mat-checkbox [formControlName]="field.key" [required]="field.required">{{ field.label }}</mat-checkbox>
      </section>
    </div>

  </div>

  <button mat-raised-button class="pull-right" (click)="onSubmit()" *ngIf="form.dirty && form.valid">
    <i class="zmdi zmdi-check"></i> Submit
  </button>
</form>