<div class="row" *ngIf="resource">
  <div class="col-lg-3 col-xs-12">
    <!-- Profile box -->
    <z-profile-box [data]="buildProfileBox() | async" hasIcon="true" [canEdit]="hasPermissions | async"
      (editAction)="editResource()">
    </z-profile-box>
    <!-- Progress tracking -->
    <z-progress-track *ngIf="progressData" [data]="progressData"></z-progress-track>
  </div>
  <div class="col-lg-9 col-xs-12">
    <!-- Project tasks -->
    <z-tasks [project]="resource.id" [hideCols]="['project']" [canCreate]="hasPermissions | async" canRefresh="true"
      (countValues)="countTasks($event)">
    </z-tasks>
    <!-- Project members -->
    <z-user-list #members [project]="resource.id" altTitle="Members" (countValues)="countMembers($event)">
      <div class="extra-options" extra-options *ngIf="hasPermissions | async">
        <a (click)="addMembers()">
          <i class="zmdi zmdi-plus"></i>
        </a>
      </div>
    </z-user-list>
  </div>
</div>
