<div class="panel card-view">
  <div class="panel-heading">
    <div class="pull-left">
      <h6 class="panel-title">{{ title }}</h6>
    </div>
    <div class="right-menu">
      <a *ngIf="canEdit" class="menu-option" (click)="emitAction()" matTooltip="Edit">
        <i class="zmdi zmdi-edit"></i>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-wrapper collapse in">
    <div class="panel-body row pa-0">
      <div class="sm-data-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 text-center data-wrap-right">
              <ng-content select="[extra-content]"></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
