.dashboard {
  &-row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__item {
      flex: 1 1 0;
      margin: 15px;
      min-width: 350px;
      .panel.card-view {
        height: 100%;
        max-height: none;
      }
    }
  }
}
