<z-loading *ngIf="isLoading"></z-loading>
<button mat-button (click)="createProject()" *ngIf="!isLoading" zPanelButton>Create project</button>
<div class="table-wrap" *ngIf="!isLoading">
  <div class="table-responsive" *ngIf="dataSource.data.length">
    <table class="table table-hover display pb-30" mat-table [dataSource]="dataSource" matSort
      (matSortChange)="sortData($event)">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [checked]="selection.hasValue() && isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td *matCellDef="let element">
          <a [routerLink]="['/admin/projects/profile', element.id]">{{ element?.name }}</a>
          <p class="fs-sm" zOverflow="600">{{ element?.description }}</p>
        </td>
      </ng-container>

      <!-- Contact Column -->
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
        <td *matCellDef="let element">
          <a *ngIf="element?.contact" [routerLink]="['/admin/contacts/profile', element.id]">
            {{ element?.contact.name }}
          </a>
        </td>
      </ng-container>

      <!-- Priority Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
        <td *matCellDef="let element" class="text-center">
          <div [zPriority]="element.priority"></div>
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td *matCellDef="let element">
          <div [zStatus]="element.status"></div>
        </td>
      </ng-container>

      <!-- Start date Column -->
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start date </th>
        <td *matCellDef="let element">
          <span>{{ element?.start_date | date: "shortDate" }}</span>
        </td>
      </ng-container>

      <!-- End date Column -->
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End date </th>
        <td *matCellDef="let element">
          <span>{{ element?.end_date | date: "shortDate" }}</span>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td *matCellDef="let element; let i = index" class="action-buttons">
          <z-actions-menu [isFavorite]="checkFavorite(element.id)" (event)="onAction($event, element, i)">
          </z-actions-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="8" [pageSizeOptions]="[8, 20, 50, 100]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
  <z-no-results *ngIf="!dataSource.data.length"></z-no-results>
</div>
