@import "~app/variables";

.activity {
  &-item {
    border-left: 1px solid #dedede;
    margin-left: 20px;
    padding-bottom: 18px;
    position: relative;
    &-avatar {
      left: -20px;
      position: absolute;
    }
    &-content {
      border-bottom: 1px solid rgba(33, 33, 33, 0.05);
      margin-left: 40px;
      padding-bottom: 15px;
      &__link {
        color: $zeal;
        font-weight: 500;
        margin-right: 5px;
        text-transform: capitalize;
        &:last-child {
          margin-left: 5px;
        }
      }
      &__time {
        color: $gray;
        display: block;
        font-size: small;
      }
    }
  }
}
