<z-loading *ngIf="isLoading"></z-loading>
<z-error-message *ngIf="error"></z-error-message>
<div class="row" *ngIf="!isLoading">
  <div class="col-sm-12" *ngIf="!error">
    <z-panel-header
      [title]="resource?.name"
      [menu]="menu"
      (action)="onAction($event)"
    ></z-panel-header>
    <div class="panel-wrapper collapse in">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabs.selectedTab"
        (selectedIndexChange)="tabs.tabChanged($event)"
      >
        <!-- Details tab -->
        <mat-tab label="Details">
          <div class="panel-body row">
            <div class="table-wrap">
              <div class="table-responsive">
                <table class="table display pb-30" id="details">
                  <tbody>
                    <tr *ngIf="resource.name">
                      <td>Name</td>
                      <td>{{ resource.name }}</td>
                    </tr>
                    <tr>
                      <td>Project</td>
                      <td>
                        <a
                          *ngIf="resource.project"
                          [routerLink]="[
                            '/admin/projects/profile',
                            resource.project.id
                          ]"
                        >
                          {{ resource.project.name }}
                        </a>
                        <a class="table-button" (click)="editProject()">
                          <i class="zmdi zmdi-edit"></i>Assign project
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Owner</td>
                      <td>
                        <z-user-icons
                          *ngIf="resource.user"
                          [listValues]="[resource.user]"
                          path="/admin/users/profile"
                          size="25"
                          singleValue="true"
                        >
                        </z-user-icons>
                        <a class="table-button" (click)="editOwner()">
                          <i class="zmdi zmdi-edit"></i>Change
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="resource.description">
                      <td>Description</td>
                      <td class="ws-normal">{{ resource.description }}</td>
                    </tr>
                    <tr *ngIf="resource.priority">
                      <td>Priority</td>
                      <td [zPriority]="resource.priority"></td>
                    </tr>
                    <tr *ngIf="resource.status">
                      <td>Status</td>
                      <td [zStatus]="resource.status"></td>
                    </tr>
                    <tr *ngIf="resource.start_date">
                      <td>Start Date</td>
                      <td>{{ resource.start_date | date }}</td>
                    </tr>
                    <tr *ngIf="resource.end_date">
                      <td>End Date</td>
                      <td>{{ resource.end_date | date }}</td>
                    </tr>
                    <tr *ngIf="resource.created_at">
                      <td>Created at</td>
                      <td>{{ resource.created_at | date: "long" }}</td>
                    </tr>
                    <tr *ngIf="resource.updated_at">
                      <td>Updated at</td>
                      <td>{{ resource.updated_at | date: "long" }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
