@import "~@angular/material/theming";
@import "../../../variables";

:host {
  position: fixed;
  right: 20px;
  top: 80px;
  z-index: 1;
  .wrapper {
    background: none;
  }
}
aside {
  @include mat-elevation(3);
  border-radius: 4px;
  color: white;
  margin-bottom: 20px;
  padding: 5px 15px;
  width: 300px;
  .error & {
    background-color: $danger;
  }
  .info & {
    background-color: $success;
  }
}
