<div class="widget panel panel-default card-view panel-refresh">
  <z-loading *ngIf="refresh"></z-loading>
  <div class="panel-heading">
    <div class="pull-left">
      <h6 class="panel-title txt-dark">
        <i class="zmdi zmdi-group-work"></i>{{ altTitle || 'Users' }}
        <z-label [value]="data?.length" *ngIf="data"></z-label>
      </h6>
    </div>
    <div class="right-menu">
      <!-- Create new -->
      <a *ngIf="canCreate" class="menu-option" (click)="createNew()">
        <i class="zmdi zmdi-plus"></i>
      </a>
      <!-- Refresh widget -->
      <a *ngIf="canRefresh" class="menu-option" (click)="refreshData()">
        <i class="zmdi zmdi-replay"></i>
      </a>
      <ng-content select="[extra-options]"></ng-content>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-wrapper collapse in" id="usersWidget">
    <div class="panel-body pa-0">
      <div class="row" *ngIf="data">
        <div class="data-table table-responsive" *ngIf="data.length">
          <table *ngIf="data" class="table">
            <tbody>
              <tr *ngFor="let item of data" class="data-table__row">
                <td>
                  <z-user-icons [listValues]="[item]" path="/users/profile/" singleValue="true"></z-user-icons>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <z-no-results *ngIf="!data.length"></z-no-results>
      </div>
    </div>
  </div>
</div>
