<div class="dropdown">
  <button type="button" class="btn btn-default btn-icon-anim btn-circle btn-sm dropdown-toggle" data-toggle="dropdown"
    aria-expanded="false">
    <i class="zmdi zmdi-more"></i>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li *ngIf="actions.includes('FAVORITE')">
      <a (click)="onEvent('FAVORITE')" [routerLink]="">
        <ng-container *ngIf="isFavorite; else elseTemplate">
          <i class="zmdi zmdi-star"></i>Unfavorite
        </ng-container>
        <ng-template #elseTemplate>
          <i class="zmdi zmdi-star-outline"></i>Favorite
        </ng-template>
      </a>
    </li>
    <li *ngIf="actions.includes('EDIT')">

      <a (click)="onEvent('EDIT')" [routerLink]="">
        <i class="zmdi zmdi-edit"></i>Edit
      </a>
    </li>
    <li *ngIf="actions.length > 1" class="divider"></li>
    <li *ngIf="actions.includes('DELETE')">
      <a (click)="onEvent('DELETE')" [routerLink]="">
        <i class="zmdi zmdi-delete"></i>Delete
      </a>
    </li>
  </ul>
</div>
