@import "../../../../variables";

.dropdown {
  overflow: visible;
  width: 35px;
  z-index: 99;
  ul {
    left: auto;
    right: 0;
    .divider + li {
      background-color: $danger;
      a {
        color: set-text-color($danger);
      }
    }
  }
}
