@import "../../../../variables";

.dropdown {
  overflow: visible;
  width: 35px;
  ul {
    left: auto;
    right: 0;
    z-index: 99;
    .zmdi {
      color: #212121;
      font-size: 15px;
      margin-right: 2px;
    }
    .divider + li {
      background-color: $danger;
      a,
      .zmdi {
        color: set-text-color($danger);
      }
    }
  }
}
