<div class="widget panel panel-default card-view panel-refresh">
  <z-loading *ngIf="refresh"></z-loading>
  <div class="panel-heading">
    <div class="pull-left">
      <h6 class="panel-title txt-dark">
        <a [routerLink]="['/content/projects']">
          <i class="zmdi zmdi-case"></i>{{ title || 'Projects' }}
          <z-label [value]="masterData?.length" *ngIf="data"></z-label>
        </a>
      </h6>
    </div>
    <div class="right-menu">
      <!-- Create new -->
      <a *ngIf="canCreate" class="menu-option" (click)="createNew()" matTooltip="Create new">
        <i class="zmdi zmdi-plus"></i>
      </a>
      <!-- Refresh widget -->
      <a *ngIf="canRefresh" class="menu-option" (click)="refreshData()" matTooltip="Refresh data">
        <i class="zmdi zmdi-replay"></i>
      </a>
      <!-- Options -->
      <div *ngIf="canFilter" class="menu-option dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">
          <i class="zmdi zmdi-filter-list" [class.active]="filters.length"></i>
        </a>
        <ul class="dropdown-menu bullet dropdown-menu-right" role="menu">
          <li role="presentation" [class.active]="!filters.includes('open')">
            <a (click)="filterProjects('open')" role="menuitem">
              Open
            </a>
          </li>
          <li role="presentation" [class.active]="!filters.includes('canceled')">
            <a (click)="filterProjects('canceled')" role="menuitem">
              Canceled
            </a>
          </li>
          <li role="presentation" [class.active]="!filters.includes('completed')">
            <a (click)="filterProjects('completed')" role="menuitem">
              Completed
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-wrapper collapse in" id="projectsWidget">
    <div class="panel-body pa-0">
      <div class="row" *ngIf="data">
        <div class="data-table table-responsive" *ngIf="data.length">
          <table class="table">
            <tbody>
              <tr *ngFor="let item of data" class="data-table__row">
                <td>
                  <a [routerLink]="['/content/projects/profile', item.id]">
                    {{ item.name }}
                  </a>
                </td>
                <td>
                  <div [zStatus]="item.status"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <z-no-results *ngIf="!data.length"></z-no-results>
      </div>
    </div>
  </div>
</div>
