// Colors
$zeal: #ff9900;
$white: #ffffff;
$dark: #24333e;
$success: #2ecd99;
$danger: #bf2424;
$gray: #878787;
$pink: #f99dff;
$blue: #0e3b84;
$lightblue: #6e9ef6;

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}
