<z-error-message *ngIf="error"></z-error-message>
<div class="row" *ngIf="resource">
  <div class="col-lg-3 col-xs-12">
    <!-- Profile box -->
    <z-profile-box [data]="buildProfileBox() | async" hasIcon="true" [canEdit]="hasPermissions | async"
      (editAction)="editResource()">
    </z-profile-box>

    <!-- Description widget -->
    <z-text-box [data]="buildTextBox() | async"></z-text-box>
  </div>

  <div class="col-lg-3 col-xs-12">
    <!-- Task owner -->
    <z-small-well title="Task owner" [canEdit]="hasPermissions | async" (action)="editOwner()">
      <ng-container extra-content>
        <z-user-icons [listValues]="[resource.user]" [path]="['/content/users/profile/']" size="50" singleValue="true">
        </z-user-icons>
      </ng-container>
    </z-small-well>

    <div class="row">
      <!-- Task status -->
      <div class="col-lg-6 col-xs-12">
        <z-small-well title="Status">
          <ng-container extra-content>
            <div [zStatus]="resource.status" class="fs-lg"></div>
          </ng-container>
        </z-small-well>
      </div>
      <!-- Task priority -->
      <div class="col-lg-6 col-xs-12">
        <z-small-well title="Priority">
          <ng-container extra-content>
            <div [zPriority]="resource.priority" class="fs-lgr"></div>
          </ng-container>
        </z-small-well>
      </div>
    </div>

    <!-- Range of dates -->
    <z-small-well title="Range of dates" class="range-dates">
      <ng-container extra-content>
        <div class="">
          <p class="">{{ resource.start_date | date: "shortDate" || '-' }}</p>
          <div class="divider">Until</div>
          <p class="">{{ resource.end_date | date: "shortDate" || '-' }}</p>
        </div>
      </ng-container>
    </z-small-well>

    <!-- Parent project -->
    <z-small-well title="Project" *ngIf="resource.project">
      <ng-container extra-content>
        <i class="zmdi zmdi-case mb-10 fs-xxlg"></i>
        <h5>{{ resource.project.name }}</h5>
        <a class="btn-dashed" [routerLink]="['/content/projects/profile/', resource.project.id]">
          <i class="zmdi zmdi-eye"></i>Go to project
        </a>
      </ng-container>
    </z-small-well>
  </div>
</div>
