<div class="panel panel-default card-view">
  <div class="panel-heading">
    <div class="pull-left">
      <h6 class="panel-title txt-dark">
        <i class="zmdi zmdi-arrow-merge"></i>Tasks
      </h6>
    </div>
    <div class="right-menu">
      <!-- Create new -->
      <a *ngIf="canCreate" class="menu-option" (click)="create()" [routerLink]="">
        <i class="zmdi zmdi-plus"></i>
      </a>
      <!-- Refresh widget -->
      <a *ngIf="canRefresh" class="menu-option" (click)="loadData()" [routerLink]="">
        <i class="zmdi zmdi-replay"></i>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-wrapper collapse in">
    <z-loading *ngIf="isLoading"></z-loading>
    <div class="table-wrap" *ngIf="!isLoading">
      <div class="table-responsive" *ngIf="dataSource.data.length">
        <table class="table table-hover display pb-30" mat-table [dataSource]="dataSource" matSort
          (matSortChange)="sortData($event)">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td *matCellDef="let element">
              <i class="zmdi zmdi-arrow-merge zmdi-hc-lg ml-10 mr-15"></i>
              <a [routerLink]="['/admin/tasks/profile', element.id]">{{ element.name }}</a>
            </td>
          </ng-container>

          <!-- Project Column -->
          <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
            <td *matCellDef="let element" zOverflow width="200">
              <a *ngIf="element?.project" [routerLink]="['/admin/projects/profile', element.project.id]">{{
                element?.project.name }}</a>
            </td>
          </ng-container>

          <!-- Priority Column -->
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
            <td *matCellDef="let element" class="text-center">
              <div [zPriority]="element.priority"></div>
            </td>
          </ng-container>

          <!-- Owner Column -->
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
            <td *matCellDef="let element" zOverflow width="200">
              <a *ngIf="element?.user" [routerLink]="['/admin/users/profile', element.user.id]">{{ element?.user.name
                }}</a>
            </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td *matCellDef="let element">
              <div [zStatus]="element.status"></div>
            </td>
          </ng-container>

          <!-- Start date Column -->
          <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Start date</th>
            <td *matCellDef="let element">
              <span>{{ element?.start_date | date: "shortDate" }}</span>
            </td>
          </ng-container>

          <!-- End date Column -->
          <ng-container matColumnDef="end_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>End date</th>
            <td *matCellDef="let element">
              <span [zExpiredDate]="element?.end_date">{{ element?.end_date | date: "shortDate" }}</span>
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td *matCellDef="let element; let i = index" class="action-buttons">
              <z-actions-menu (event)="onAction($event, element, i)"></z-actions-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>
        <mat-paginator [length]="dataSource.data.length" [pageSize]="8" [pageSizeOptions]="[8, 20, 50, 100]"
          showFirstLastButtons>
        </mat-paginator>
      </div>
      <z-no-results *ngIf="!dataSource.data.length"></z-no-results>
    </div>
  </div>
</div>
