<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default card-view">
      <div class="panel-heading">
        <div class="pull-left">
          <h6 class="panel-title txt-dark">{{ user?.first_name }} {{ user?.last_name }}</h6>
        </div>
        <div class="pull-right">
          <a [routerLink]="['users']" class="pull-left inline-block panel-button mr-15">
            <i class="zmdi zmdi-arrow-left"></i><span>Back</span>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-wrapper collapse in">
        {{ user | json }}
      </div>
    </div>
  </div>
</div>
