<z-loading *ngIf="isLoading"></z-loading>
<z-error-message *ngIf="error"></z-error-message>
<div class="row" *ngIf="!isLoading">
  <div class="col-sm-12" *ngIf="!error">
    <z-panel-header [title]="resource.name" [menu]="menu" (action)="onAction($event)"></z-panel-header>
    <div class="panel-wrapper collapse in">
      <mat-tab-group animationDuration="0ms" [selectedIndex]="tabs.selectedTab"
        (selectedIndexChange)="tabs.tabChanged($event)">
        <!-- Details tab -->
        <mat-tab label="Details">
          <div class="panel-body row">
            <div class="table-wrap">
              <div class="table-responsive">
                <table class="table display pb-30">
                  <tbody>
                    <tr *ngIf="resource.suffix">
                      <td>Suffix</td>
                      <td>{{ resource.suffix }}</td>
                    </tr>
                    <tr *ngIf="resource.name">
                      <td>Fullname</td>
                      <td>{{ resource.name }}</td>
                    </tr>
                    <tr *ngIf="resource.email">
                      <td>Email</td>
                      <td>{{ resource.email }}</td>
                    </tr>
                    <tr *ngIf="resource.gender">
                      <td>Gender</td>
                      <td zGender [value]="resource.gender"></td>
                    </tr>
                    <tr>
                      <td>Role</td>
                      <td>
                        <span *ngIf="resource.role">{{ resource.role.name }}</span>
                        <a class="table-button" (click)="editRole()">
                          <i class="zmdi zmdi-edit"></i>Change
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="resource.locale">
                      <td>Locale</td>
                      <td>{{ resource.locale }}</td>
                    </tr>
                    <tr>
                      <td>Active</td>
                      <td>
                        <span *ngIf="resource.active">Yes</span>
                        <span *ngIf="!resource.active">No</span>
                        <a class="table-button" (click)="toggleActive()">
                          <i class="zmdi zmdi-edit"></i>
                          <span *ngIf="resource.active">Deactivate</span>
                          <span *ngIf="!resource.active">Activate</span>
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="resource.created_at">
                      <td>Created at</td>
                      <td>{{ resource.created_at | date: "long" }}</td>
                    </tr>
                    <tr *ngIf="resource.updated_at">
                      <td>Updated at</td>
                      <td>{{ resource.updated_at | date: "long" }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- Teams tab -->
        <mat-tab label="Teams ({{teamsCount}})">
          <button mat-button (click)="addTeam()" zPanelButton>Add team</button>
          <z-admin-teams [user]="resource.id" (countValues)="countTeams($event)"></z-admin-teams>
        </mat-tab>
        <!-- Tasks tab -->
        <mat-tab label="Tasks ({{tasksCount}})">
          <z-admin-tasks [user]="resource.id" [hideCols]="['owner']" (countValues)="countTasks($event)"></z-admin-tasks>
        </mat-tab>
        <!-- Projects tab -->
        <mat-tab label="Projects ({{projectsCount}})">
          <button mat-button (click)="addProject()" zPanelButton>Add project</button>
          <z-admin-projects [user]="resource.id" (countValues)="countProjects($event)"></z-admin-projects>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
