<z-loading *ngIf="isLoading"></z-loading>
<z-error-message *ngIf="error"></z-error-message>
<div class="row" *ngIf="!isLoading">
  <div class="col-sm-12" *ngIf="!error">
    <z-panel-header [title]="resource?.name" [menu]="menu" (action)="onAction($event)"></z-panel-header>
    <div class="panel-wrapper collapse in">
      <mat-tab-group animationDuration="0ms" [selectedIndex]="tabs.selectedTab"
        (selectedIndexChange)="tabs.tabChanged($event)">
        <!-- Details tab -->
        <mat-tab label="Details">
          <div class="panel-body row">
            <div class="table-wrap">
              <div class="table-responsive">
                <table class="table display pb-30" id="details">
                  <tbody>
                    <tr *ngIf="resource.name">
                      <td>Name</td>
                      <td>{{ resource.name }}</td>
                    </tr>
                    <tr *ngIf="resource.code">
                      <td>Code</td>
                      <td>{{ resource.code }}</td>
                    </tr>
                    <tr *ngIf="resource.contact">
                      <td>Contact</td>
                      <td>
                        <a [routerLink]="">{{ resource.contact.name }}</a>
                      </td>
                    </tr>
                    <tr *ngIf="resource.description">
                      <td>Description</td>
                      <td class="ws-normal">{{ resource.description }}</td>
                    </tr>
                    <tr *ngIf="resource.priority">
                      <td>Priority</td>
                      <td zPriority [value]="resource.priority"></td>
                    </tr>
                    <tr *ngIf="resource.status">
                      <td>Status</td>
                      <td zStatus [value]="resource.status"></td>
                    </tr>
                    <tr *ngIf="resource.start_date">
                      <td>Start Date</td>
                      <td>{{ resource.start_date | date }}</td>
                    </tr>
                    <tr *ngIf="resource.end_date">
                      <td>End Date</td>
                      <td>{{ resource.end_date | date }}</td>
                    </tr>
                    <tr *ngIf="resource.created_at">
                      <td>Created at</td>
                      <td>{{ resource.created_at | date: "long" }}</td>
                    </tr>
                    <tr *ngIf="resource.updated_at">
                      <td>Updated at</td>
                      <td>{{ resource.updated_at | date: "long" }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- Members tab -->
        <mat-tab label="Members ({{membersCount}})">
          <button mat-button (click)="addMember()" zPanelButton>Add member</button>
          <z-admin-users [project_id]="resource.id" (countValues)="countMembers($event)"></z-admin-users>
        </mat-tab>
        <!-- Tasks tab -->
        <mat-tab label="Tasks ({{tasksCount}})">
          <z-admin-tasks [project_id]="resource.id" [hideCols]="['project']" (countValues)="countTasks($event)">
          </z-admin-tasks>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>