.profile-box {
  .profile-info {
    &__resource {
      color: #212121;
      font-size: 14px;
      font-weight: 500;
      margin-top: 15px;
      text-align: center;
      text-transform: uppercase;
    }
    &__title {
      display: block;
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 0 15px;
    }
    &__subtitle {
      display: block;
    }
    &__icon {
      padding: 20px 20px;
      .zmdi {
        font-size: 65px;
        color: #d6d6d6;
      }
    }
  }
  .profile-stats {
    border-top: 1px solid rgba(33, 33, 33, 0.05);
    padding: 30px 15px;
    color: #212121;
    .row {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-around;
    }
    &__number {
      display: block;
      font-size: 22px;
    }
    &__label {
      display: block;
      font-size: small;
      text-transform: uppercase;
    }
  }
  .profile-actions {
    padding: 10px 15px;
  }
}
