<div class="panel panel-default card-view pa-0">
  <div class="panel-wrapper collapse in">
    <div class="panel-body pa-0">
      <div class="profile-box">
        <!-- Background image -->
        <div *ngIf="hasBackground" class="profile-cover-pic">
          <div class="fileupload btn btn-default">
            <span class="btn-text">edit</span>
            <input class="upload" type="file">
          </div>
          <div class="profile-image-overlay"></div>
        </div>
        <div class="profile-info text-center">
          <div class="profile-info__resource">{{ data?.resourceName }}</div>
          <!-- Profile image -->
          <div *ngIf="hasImage" class="profile-img-wrap">
            <img class="inline-block mb-10" [src]="data?.profileImage" alt="user">
            <div class="fileupload btn btn-default">
              <span class="btn-text">edit</span>
              <input class="upload" type="file">
            </div>
          </div>
          <!-- Profile icon -->
          <div *ngIf="hasIcon" class="profile-info__icon">
            <i class="zmdi zmdi-{{data.icon}}"></i>
          </div>
          <h5 *ngIf="data.title" class="profile-info__title text-zeal">{{ data?.title }}</h5>
          <h6 *ngIf="data.subtitle" class="profile-info__subtitle block pb-20">{{ data?.subtitle }}</h6>
        </div>
        <div class="social-info">
          <div class="row">
            <div class="col-xs-4 text-center">
              <span class="counts block head-font"><span class="counter-anim">345</span></span>
              <span class="counts-text block">post</span>
            </div>
            <div class="col-xs-4 text-center">
              <span class="counts block head-font"><span class="counter-anim">246</span></span>
              <span class="counts-text block">followers</span>
            </div>
            <div class="col-xs-4 text-center">
              <span class="counts block head-font"><span class="counter-anim">898</span></span>
              <span class="counts-text block">tweets</span>
            </div>
          </div>
          <button class="btn btn-default btn-block btn-outline btn-anim mt-30" data-toggle="modal"
            data-target="#myModal">
            <i class="fa fa-pencil"></i>
            <span class="btn-text">edit profile</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
