<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="mobile-only-brand pull-left">
    <div class="nav-header pull-left">
      <div class="logo-wrap">
        <a [routerLink]="['/admin']">
          <img class="brand-img" src="assets/img/logo.png" alt="Zeal" />
          <span class="brand-text">Zeal</span>
        </a>
      </div>
    </div>
    <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" (click)="collapseSidebar()"
      [routerLink]="">
      <i class="zmdi zmdi-menu"></i>
    </a>
    <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view">
      <i class="zmdi zmdi-search"></i>
    </a>
    <a id="toggle_mobile_nav" class="mobile-only-view" (click)="collapseMobileNav()" [routerLink]="">
      <i class="zmdi zmdi-more"></i>
    </a>
    <form id="search_form" role="search" class="top-nav-search collapse pull-left">
      <div class="input-group">
        <input type="text" name="example-input1-group2" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-target="#search_form" data-toggle="collapse"
            aria-label="Close" aria-expanded="true">
            <i class="zmdi zmdi-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
  <div id="mobile_only_nav" class="mobile-only-nav pull-right">
    <ul class="nav navbar-right top-nav pull-right">
      <!-- Exit admin -->
      <li matTooltip="Leave admin" *ngIf="currentUser?.is_admin">
        <a [routerLink]="['/']">
          <i class="zmdi zmdi-power-setting top-nav-icon"></i>
        </a>
      </li>
      <!-- User panel -->
      <li class="dropdown auth-drp">
        <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown">
          <div [zAvatar]="currentUser?.imagePath" circled="40" [extraClasses]="['user-auth-img']"></div>
          <span class="user-online-status"></span>
        </a>
        <ul class="dropdown-menu user-auth-dropdown">
          <!-- <li>
            <a href="profile.html"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
          </li>
          <li>
            <a href="inbox.html"><i class="zmdi zmdi-email"></i><span>Inbox</span></a>
          </li>
          <li>
            <a href="#"><i class="zmdi zmdi-settings"></i><span>Settings</span></a>
          </li>
          <li class="divider"></li> -->
          <li>
            <a (click)="logOut()" [routerLink]="">
              <i class="zmdi zmdi-power"></i>
              <span>Log Out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>