@mixin full-height {
  height: 100vh;
  margin: 0;
}

:host {
  @include full-height();
  .auth-page {
    background-image: url('https://images.unsplash.com/photo-1552573822-af07a7cf1e70?ixlib=rb-1.2.1&auto=format&fit=crop&w=1997&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    @include full-height();
    .auth-overlay {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .table-struct {
      @include full-height();
    }
  }
}
// ::ng-deep .mat-checkbox-frame {
//   border-color: white;
// }
