<div class="wrapper pa-0">
  <z-auth-header></z-auth-header>

  <div class="page-wrapper pa-0 ma-0 auth-page">
    <div class="container-fluid auth-overlay">
      <div class="table-struct full-width full-height">
        <div class="table-cell vertical-align-middle auth-form-wrap">
          <div class="auth-form  ml-auto mr-auto no-float">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="mb-30">
                  <h3 class="text-center txt-light mb-10">Welcome to <strong class="txt-zeal">Zeal</strong></h3>
                  <h6 class="text-center txt-grey">Enter your details below</h6>
                </div>
                <div class="form-wrap">
                  <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                    <!-- Email field -->
                    <div class="form-group"
                      [class.has-error]="email.errors && email.dirty">
                      <label class="txt-light mb-10" for="inputEmail">Email address</label>
                      <input type="email" class="form-control"
                        formControlName="email"
                        name="email"
                        id="inputEmail"
                        placeholder="Enter email" />
                    </div>
                    <!-- Password field -->
                    <div class="form-group"
                      [class.has-error]="email.errors && email.dirty">
                      <div class="clearfix"></div>
                      <a class="txt-zeal block mb-10 pull-right font-12" href="#">Forgot password?</a>
                      <label class="txt-light mb-10" for="inputPassword">Password</label>
                      <input type="password" class="form-control"
                        formControlName="password"
                        name="password"
                        required
                        id="inputPassword"
                        placeholder="Enter password">
                    </div>
                    <!-- Remember me field -->
                    <div class="form-group">
                      <div class="checkbox checkbox-primary pr-10">
                        <input id="checkbox_2" type="checkbox">
                        <label for="checkbox_2"> Keep me logged in</label>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-zeal btn-rounded"
                        [disabled]="!loginForm.valid">Sign in</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
