@import "~app/variables";

.pie-chart {
  &-label {
    z-color {
      float: left;
    }
    &__container {
      display: inline-block;
      font-size: 12px;
      color: $dark;
    }
    &__line1 {
      display: block;
      font-size: 15px;
      line-height: 13px;
      margin-bottom: 5px;
    }
    &__line2 {
      display: block;
      color: $gray;
    }
  }
}
