<div class="fixed-sidebar-left">
  <ul class="nav navbar-nav side-nav nicescroll-bar">
    <li class="navigation-header">
      <span>Main</span>
      <i class="zmdi zmdi-more"></i>
    </li>
    <!-- Menu items -->
    <li *ngFor="let item of menuItems">
      <a [routerLink]="[item.link]" routerLinkActive="active">
        <div class="pull-left">
          <i class="zmdi zmdi-{{ item.icon }} mr-20"></i>
          <span class="right-nav-text">{{ item.name }}</span>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
    <li><hr class="light-grey-hr mb-10"/></li>
  </ul>
</div>
