<div class="fixed-sidebar-left">
  <ul class="nav navbar-nav side-nav nicescroll-bar">
    <li class="navigation-header">
      <span>Main</span>
      <i class="zmdi zmdi-more"></i>
    </li>
    <!-- Home -->
    <li>
      <a [routerLink]="['dashboard']" routerLinkActive="active">
        <div class="pull-left">
          <i class="zmdi zmdi-view-dashboard mr-20"></i>
          <span class="right-nav-text">Dashboard</span>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
    <li><hr class="light-grey-hr mb-10"/></li>
  </ul>
</div>
