/**
 * Zeal styles
 * Override of Philbert
 */
@import "theme.scss";
@import "app/variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none !important;
}

// Helper classes
.text-zeal {
  color: $zeal !important;
}
.text-white {
  color: $white !important;
}
.text-success {
  color: $success !important;
}
.text-danger {
  color: $danger !important;
}
.text-pink {
  color: $pink !important;
}
.text-blue {
  color: $blue !important;
}
.text-lightblue {
  color: $lightblue !important;
}
.bg-zeal {
  background-color: $zeal !important;
  color: set-text-color($zeal) !important;
}
.bg-white {
  background-color: $white !important;
  color: set-text-color($white) !important;
}
.bg-success {
  background-color: $success !important;
  color: set-text-color($success) !important;
}
.bg-danger {
  background-color: $danger !important;
  color: set-text-color($danger) !important;
}
.bg-pink {
  background-color: $pink !important;
  color: set-text-color($pink) !important;
}
.bg-blue {
  background-color: $blue !important;
  color: set-text-color($blue) !important;
}
.bg-lightblue {
  background-color: $lightblue !important;
  color: set-text-color($lightblue) !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fs-xxsm {
  font-size: xx-small !important;
}
.fs-xsm {
  font-size: x-small !important;
}
.fs-smr {
  font-size: smaller !important;
}
.fs-sm {
  font-size: small !important;
}
.fs-md {
  font-size: medium !important;
}
.fs-lg {
  font-size: large !important;
}
.fs-lgr {
  font-size: larger !important;
}
.fs-xlg {
  font-size: x-large !important;
}
.fs-xxlg {
  font-size: xx-large !important;
}
.ws-normal {
  white-space: normal !important;
}
.ws-nowrap {
  white-space: nowrap !important;
}

.wrapper.color-zeal .fixed-sidebar-left .side-nav > li > a.active {
  color: $zeal;
}
.page-wrapper {
  min-height: 100vh;
}
.btn.btn-zeal {
  background: $zeal;
  border: solid 1px $zeal;
  color: #fff;
  &:hover,
  &:focus,
  &:active {
    background: rgba($zeal, 0.7);
    border: solid 1px rgba($zeal, 0.1);
    color: #fff;
  }
}

// Panels
.panel {
  @include mat-elevation(2);
  .panel-heading .panel-button {
    color: #878787;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    &:not(:last-child) {
      margin-right: 15px;
    }
    i {
      font-size: 15px;
      margin-right: 5px;
    }
  }
}

// Tabs
mat-tab-group {
  mat-tab-body {
    margin-top: 10px;
    .mat-tab-body-content {
      height: auto;
      margin-bottom: 20px;
      overflow: unset;
      .table > tbody > tr:first-child > td {
        border: 0;
      }
    }
  }
}

// Tables
.table {
  .mat-row {
    td.action-buttons {
      padding: 0;
      button {
        margin-right: 10px;
        opacity: 0;
      }
    }
    &:hover > td.action-buttons button {
      opacity: 1;
    }
    &:last-of-type > td {
      border-bottom: none;
    }
  }
}

// Modals
.modal-dialog-box {
  max-height: 70vh;
  max-width: 80vw;
  width: 600px;
}

// Forms
mat-calendar .mat-calendar-body-selected {
  background-color: $zeal !important;
  color: set-text-color($zeal) !important;
}

// Scrollbar
::-webkit-scrollbar-thumb {
  background-color: $dark;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 5px;
}
