/**
 * Zeal styles
 * Override of Philbert
 */
@import "theme.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none !important;
}

.wrapper.theme-1-active.color-zeal
.fixed-sidebar-left .side-nav > li > a.active {
  color: #ff9900;
}
.page-wrapper {
  min-height: 100vh;
}
.btn.btn-zeal {
  background: #ff9900;
  border: solid 1px #ff9900;
  color: #fff;
  &:hover,
  &:focus,
  &:active {
    background: rgba(255, 153, 0, 0.70);
    border: solid 1px rgba(255, 153, 0, 0.1);
    color: #fff;
  }
}
.txt-zeal {
  color: #ff9900 !important;
}

// Panels
.panel .panel-heading .panel-button {
  color: #878787;
  font-size: 14px;
  i {
    font-size: 15px;
    margin-right: 5px;
  }
}

// Tables
.table {
  .mat-row:last-of-type > td {
    border-bottom: none;
  }
}