<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="panel panel-default card-view pa-0">
      <div class="panel-wrapper collapse in">
        <div class="panel-body pa-0">
          <div class="sm-data-box">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                  <span class="txt-dark block counter"><span class="counter-anim">914,001</span></span>
                  <span class="weight-500 uppercase-font block font-13">visits</span>
                </div>
                <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                  <i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="panel panel-default card-view pa-0">
      <div class="panel-wrapper collapse in">
        <div class="panel-body pa-0">
          <div class="sm-data-box">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                  <span class="txt-dark block counter"><span class="counter-anim">914,001</span></span>
                  <span class="weight-500 uppercase-font block font-13">visits</span>
                </div>
                <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                  <i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="panel panel-default card-view pa-0">
      <div class="panel-wrapper collapse in">
        <div class="panel-body pa-0">
          <div class="sm-data-box">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                  <span class="txt-dark block counter"><span class="counter-anim">914,001</span></span>
                  <span class="weight-500 uppercase-font block font-13">visits</span>
                </div>
                <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                  <i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="panel panel-default card-view pa-0">
      <div class="panel-wrapper collapse in">
        <div class="panel-body pa-0">
          <div class="sm-data-box">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                  <span class="txt-dark block counter"><span class="counter-anim">914,001</span></span>
                  <span class="weight-500 uppercase-font block font-13">visits</span>
                </div>
                <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                  <i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
