<header class="auth-header">
  <div class="sp-logo-wrap pull-left">
    <a href="">
      <img class="brand-img mr-10" src="./assets/img/icon.png" alt="Zeal" />
      <span class="text-white fs-lg">Zeal</span>
    </a>
  </div>
  <div class="form-group mb-0 pull-right">
    <ng-container *ngIf="router.url == '/auth/login'">
      <span class="inline-block pr-10">{{ dict.noAccount }}</span>
      <a class="navbar-button btn" [routerLink]="['signup']">{{ dict.signUp }}</a>
    </ng-container>
    <ng-container *ngIf="router.url == '/auth/signup'">
      <span class="inline-block pr-10">{{ dict.alreadyAccount }}</span>
      <a class="navbar-button btn" [routerLink]="['login']">{{ dict.logIn }}</a>
    </ng-container>
  </div>
  <div class="clearfix"></div>
</header>
