<header class="sp-header">
  <div class="sp-logo-wrap pull-left">
    <a href="">
      <img class="brand-img mr-10" src="./assets/img/icon.png" alt="Zeal" />
      <span class="text-white fs-lg">Zeal</span>
    </a>
  </div>
  <div class="form-group mb-0 pull-right">
    <span class="inline-block pr-10">{{ texts.noAccount }}</span>
    <a class="inline-block btn btn-zeal btn-rounded btn-outline" href="signup.html">
      {{ texts.signUp }}
    </a>
  </div>
  <div class="clearfix"></div>
</header>
