<div class="widget panel panel-default card-view panel-refresh">
  <z-loading *ngIf="refresh"></z-loading>
  <div class="panel-heading">
    <div class="pull-left">
      <h6 class="panel-title txt-dark">
        <i class="zmdi zmdi-group-work"></i>{{ title || 'Teams' }}
        <z-label [value]="data?.length" *ngIf="data"></z-label>
      </h6>
    </div>
    <div class="right-menu">
      <!-- Create new -->
      <a *ngIf="canCreate" class="menu-option" (click)="createNew()" matTooltip="Create new">
        <i class="zmdi zmdi-plus"></i>
      </a>
      <!-- Refresh widget -->
      <a *ngIf="canRefresh" class="menu-option" (click)="refreshData()" matTooltip="Refresh data">
        <i class="zmdi zmdi-replay"></i>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-wrapper collapse in">
    <div class="panel-body pa-0">
      <div class="row" *ngIf="data">
        <div class="data-table table-responsive" *ngIf="data.length">
          <table class="table">
            <tbody>
              <!-- Show all row -->
              <tr *ngIf="data.length === limit" class="data-table__row-more">
                <td colspan="2">
                  <a [routerLink]="['/content/teams']">
                    <i class="zmdi zmdi-open-in-new mr-5"></i>
                    Show all teams
                  </a>
                </td>
              </tr>
              <!-- Data rows -->
              <tr *ngFor="let item of data" class="data-table__row">
                <td>
                  <a [routerLink]="['/teams/profile', item.id]">{{ item.name }}</a>
                </td>
                <td class="text-right">
                  <z-user-icons [listValues]="item.users" path="/users/profile" size="30" overlap="true"></z-user-icons>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <z-no-results *ngIf="!data.length"></z-no-results>
      </div>
    </div>
  </div>
</div>
