<div class="panel-heading">
  <div class="pull-left">
    <h6 class="panel-title txt-dark">
      <a [routerLink]="titleLink" *ngIf="titleLink"> {{ title }}</a>
      <ng-container *ngIf="!titleLink">{{ title }}</ng-container>
    </h6>
  </div>
  <div class="right-menu" *ngIf="menu">
    <!-- Menu elements -->
    <ng-container *ngFor="let item of menu">
      <a class="menu-option" (click)="emitAction(item.action)">
        <i class="zmdi zmdi-{{item.icon}}"></i><span>{{ item.name }}</span>
      </a>
    </ng-container>
    <!-- Back button -->
    <a (click)="goBack()" class="menu-option">
      <i class="zmdi zmdi-arrow-left"></i><span>Go back</span>
    </a>
  </div>
  <div class="clearfix"></div>
</div>
