@import "~app/variables";

.widget {
  overflow: hidden;
  .panel-heading {
    .panel-title {
      .zmdi {
        margin-right: 15px;
      }
    }
    .right-menu {
      float: right;
      .menu-option {
        cursor: pointer;
        float: left;
        margin-left: 20px;
        .zmdi {
          color: $gray;
          font-size: 22px;
          &.active {
            color: $zeal;
          }
        }
      }
    }
  }
  .panel-body {
    .data-table {
      overflow-y: scroll;
      &__row {
        font-size: small;
        &-more {
          background-color: #f5f5f5;
          text-align: center;
        }
        td {
          white-space: unset;
        }
      }
    }
  }
}
