.widget {
  .panel-loading {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    cursor: wait;
    overflow: hidden;
  }
  .panel-heading {
    .panel-title {
      .zmdi {
        margin-right: 15px;
      }
    }
    .right-menu {
      float: right;
      .menu-option {
        cursor: pointer;
        float: left;
        margin-left: 20px;
        .zmdi {
          color: #878787;
          font-size: 22px;
        }
      }
    }
  }
  .panel-body {
    .data-table {
      height: 250px;
      overflow-y: scroll;
      &__row {
        font-size: small;
      }
    }
  }
}

.loading-shade {
  height: 100%;
  display: flex;
}
